@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@87.5,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
:root {
  /* Global Colors */
  --bg-main: #d4d8f0;
  --text-primary: #222525;
  --text-secondary: #444444;
  --accent-1: #078080;
  --accent-2: #eebbc3;
  --paragraph: #b8c1ec;

  /* Font Definition */
  --ff: "Montserrat", sans-serif;
  --ff-fredoka: "Fredoka", sans-serif;
  --ff-inter: "Inter", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
  --ff-ubuntu: "Ubuntu", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --h1: bold 2.8rem/1.4em var(--ff-fredoka);
  --h2: bold 1.2rem/1.4em var(--ff);
  --p: 1rem/1.4em var(--ff);
  --p2: .875rem/1.4em var(--ff);
  --cta: .875rem/1.4em var(--ff);

  /* Universal Gray */
  --gray100: hsl(0,0%,100%);
  --gray70: hsl(0,0%,70%);
  --gray50: hsl(0,0%,50%);
  --gray30: hsl(0,0%,30%);
  --gray0: hsl(0,0%,0%);

  /* Transitions */
  --transition: 0.15s ease-in-out;

  /* Header Colors */
  --header-main: #232946;
  --header-headline: #fffffe;
  --header-paragraph: #b8c1ec;
  --header-button: #eebbc3;
  --header-stroke: #121629;
  --header-text-primary: #fffffe;

  /* Menu Navigation */
  --menu-active: #eadbdd;

  /* Search-Filter Colors */
  --filter-bg: var(--header-main);
  --filter-text: #ffffff;
  --filter-button-bg: #078080;
  --filter-button-text: #ffffff;
  --filter-button-hover-bg: #056969;
  --filter-button-hover-text: #ffffff;

  /* Button Colors */
  --btn-bg: #078080;
  --btn-text: #ffffff;
  --btn-hover-bg: #055d5d;
  --btn-hover-text: #ffffff;

  /* Card Colors */
  --card-bg: #EBECF0;
  --card-bg-hover: #f3f4f7;
  --card-heading: #222525;
  --card-paragraph: #444444;
  --card-border: #d2deee;

  /* Icon Colors */
  --icon-stroke: #121629;
  --icon-primary: #b8c1ec;
  --icon-highlight: #eebbc3;
  --icon-secondary: #ffffff;

  /* Special Sections */
  --form-bg: #d4939d;
  --form-text: #ffffff;
  --form-button-bg: #232946;
  --form-button-text: #ffffff;
  --footer-bg: #16161a;
  --footer-text-color: var(--gray70);

  /* Type Badges */
  --type-lightmode: #222525;
  --type-darkmode: #ffffff;
}